#fiche {
    padding-top: 3rem;
    width: 1200px;
    margin: auto;
    text-align: left;
    border-collapse: collapse;
}

#content2 {
    padding-top: 3rem;
}

#fiche>tbody>tr {
    margin: 50px;
    height: 50px;
    padding: 10px;
}

#fiche>tbody>tr>td {
    font-size: 1.5rem;
    margin: 50px;
    padding: 20px;
    font-weight: 600;
}