{% extends 'template.html' %}

{% block title %}
500
{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/erreur.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content2">
  <h1>Erreur 500</h1>
  <h2>Internal Server Error</h2>
  <div class="contentchild">
    <div class="clique">
      <a href="/main" class="link">
        <img src="../static/img/main/plus.png" alt="plus">
        <h2>Retourner à l'accueil !</h2>
      </a>
    </div>
  </div>
</div>
{% endblock %}