{% extends 'template.html' %}

{% block title %}
Accueil
{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content2">
  <div class="contentchild">
    <h1>Présentation rapide du projet :</h1>
    <article>
      Notre projet est de créer un site permettant à des utilisateurs de partager leurs histoires afin de créer une
      communauté soudée. </article>
  </div>
  <div class="contentchild">
    <div class="clique">
      <a href="/nouvelle" class="link">
        <img src="../static/img/main/plus.png" alt="plus">
        <h2>Ajoute ton histoire !</h2>
      </a>
    </div>
  </div>
  <div class="contentchild">
    <h1>Contexte, Remerciements, Chartes</h1>
    <article>
      “Aujourd’hui plus personne ne veut lire de livres. Ils sont dépassés et rendent solitaire. Pour une société en
      plein
      changement nous souhaitons nous adapter en proposant des histoires inconnues et en vous laissant le choix de créer
      la vôtre. Laissez libre cours à votre imagination tout en proposant des améliorations à l'auteur. Pour la
      première fois le lecteur et l’auteur peuvent s’intervertir pour des histoires ouvertes sur l’avenir...”
      <h3>Maxime Capdegelle, Chef du projet Legere</h2>
    </article>
  </div>
</div>
{% endblock %}