{% extends 'template.html' %}

{% block title %}
Accueil
{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content2">
  <div class="contentchild">
    <h1>Présentation rapide du projet :</h1>
    <article>
      Notre projet est de créer un site permettant à des utilisateurs de partager leurs histoires afin de créer une communauté soudée. </article>
  </div>

  <!--   <div class="contentchild"><h1>Une histoire aléatoire</h1>
<article>
  Aliquam tincidunt, purus at eleifend pellentesque, orci neque posuere mauris, nec malesuada felis lorem sit amet odio. Vestibulum rutrum mi non vehicula convallis. Quisque interdum in nibh eu fermentum. In hac habitasse platea dictumst. Sed faucibus imperdiet erat quis facilisis. Vivamus efficitur neque vitae ornare lacinia. Suspendisse sit amet luctus quam. Donec posuere odio metus, non tincidunt arcu ultricies eu. In id massa pulvinar, pretium ante ut, molestie risus. Curabitur nulla eros, semper sit amet augue ut, auctor aliquet ligula. Sed sed varius odio, gravida luctus ligula. Phasellus eu mi dapibus, pretium dui eget, sollicitudin odio.
</article></div>
 -->
  <br>
  <div class="contentchild">
    <div class="clique">
      <a href="/nouvelle" class="link">
        <img src="../static/img/main/plus.png" alt="plus">
        <h2>Ajoute ton histoire !</h2>
      </a>
    </div>
  </div>

  <div class="contentchild">
    <h1>Contexte, Remerciements, Chartes</h1>
    <article>
      “Aujourd’hui plus personne ne veut lire de livre. Ils sont passés et rendent solitaire. Pour une société en plein
      changement nous souhaitons nous adapter en proposant des histoires inconnues et en vous laissant le choix de créer
      la vôtre. Laissez libre court à votre imagination tout en proposant des améliorations à l'auteur. Pour la
      première fois le lecteur et l’auteur peuvent s’intervertir pour des histoires ouvertes sur l’avenir...”

      <h3>Maxime Capdegelle, Chef du projet Legere</h2> </article>
  </div>

</div>

{% endblock %}